
div#quality-form   {
    height: 120px;
    padding-top: 35px;
    background: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: center;

    & > #name-field {
        width: 272px;
        height: 50px;
    }
    
    & > #quality-field {
        width: 74px;
        height: 50px;
    }

    & > #save-button {
        margin-top: 20px;
        width: 70px;
        height: 50px;
    }

    & >  div > span.invalid-feedback {
        color: white;
    }
}

#quality-data {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > div {
        width: 360px;
    
        div#quality-table {
            height: 358px
        }

        div#quality-pie {
            height: 359px;
            // & > h3 {
            //     background: red;
            // }
        }
    }
}

#qualities-header > tr > {
    th.name-column {
        width: 254px;
    }

   th.quality-column {
        width: 108px;
    }
}
